<div class="recherche-page">
    <app-header></app-header>


    <main class="main-content">
        <h1>
            <span class="highlight">Recherchez</span> Un Dossier Patient en toute simplicité
        </h1>
        <p class="sub-text">
            Accédez aux informations médicales des patients grâce à leur numéro de sécurité sociale ou QR code.
        </p>

        <div class="search-bar">
            <input type="text" placeholder="Entrez le numéro de sécurité social NSS du patient" class="search-input" />
            <button class="search-button">
                <div class="shr-div"><img src="../../assets/Group.png" alt="Search Icon" /></div>
            </button>
        </div>

        <button class="qr-button">
            <span class="qr-text">ou Scannez un code QR</span>
            <img src="../../assets/icons8-qr-50 (1) 1.png" alt="QR Code Icon" class="qr-icon" />
        </button>

        <div class="qr-image">
            <img src="../../assets/png.png" alt="QR Code Image" />
        </div>
    </main>
</div>