<div class="landing-page">
    <app-header></app-header>

    <div class="content">

        <main class="main-content">
            <h2>Simplifiez la gestion des soins avec le <span>Dossier Patient Informatisé</span></h2>
            <p class="description">
                Centralisez les informations médicales de vos patients pour améliorer la
                communication et garantir une continuité optimale des soins.
            </p>
            <button class="btn-connect" (click)="navigateToLogin()" >Se connecter</button>
        </main>


        <div class="image-section">
            <img src="../../assets/Medical prescription-amico.svg" alt="Healthcare Illustration"
                class="healthcare-image" />
        </div>
    </div>
</div>