.container{
    background-color:#f0fdf4;
    color: #22c55e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border: 1px solid #22c55e;
    border-left: 5px solid #22c55e ;
    border-radius: 3px;
    padding: .2rem 1rem;

    position:fixed;
    top: 10rem;
    right: 1rem;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.msg{
    font-weight: 500;
}

.icon{
    font-size: 1rem;
    color:#22c55e
}

.close{
    cursor: pointer;
}
