<app-menu-dpi></app-menu-dpi>

<div class="bigcontainer">
<div class="container">

    <div class="ligne">
    <p class="title"> Numéro de sécurité social: </p>
    <p class="content">88 99 89 76 80 08</p>
    </div>

    <div class="ligne">
    <p class="title">  Nom : </p>
     <p class="content">Bachferrag</p>
    </div>

    <div class="ligne">
    <p class="title"> Prénom: <p>
    <p class="content">Bouchra</p>
    </div>

    <div class="ligne">
    <p class="title">  Date de naissance : </p>
    <p class="content">09 / 12 /2004</p>
    </div>

    <div class="ligne">
    <p class="title">Medecin traitant : </p>
    <p class="content">Gauss_seidal</p>
    </div>

    <div class="ligne">
    <p class="title"> Adresse : </p>
    <p class="content">Oeud el smar , Alger</p>
    </div>

    <div class="ligne">
    <p class="title"> Personne a contacter : </p>
    <p class="content">07_70_13_83_61</p>
    </div>
</div>
<div class="qr-code-container">
<img src="../../assets/qrcodefrfr.svg" class="image">
</div>
</div>

