
<div mat-dialog-content  >
    <div class="container">
  <p class="txt"> Date {{this.data.date}}</p>
  <p class="txt">Médecin{{this.data.medecin}}</p>
  <div class="diagnostic">
  <p class="txt">Diagnostic  </p>
<span class="circle"></span>
<p class="txt"> {{ this.data.diagnostic ? 'Effectué' : 'Non effectué' }}</p>
</div>
</div>

<div class="smallcontainer">
 <p class="titleTabs">Symptomes</p>
 <p class="txtSym">{{resumeData.symptomes}}</p>
</div>

<div class="smallcontainer" style="background-color: #FFFFFF;">
  <p class="titleTabs" style="color: #05445E;">valeurs Mesurées</p>
  <div *ngFor="let mesure of parsedMesures">
    <p class="txtSym" style="color: #05445E; font-weight: 500;">{{ mesure }}</p>
    <hr>
  </div>

    <hr />
  </div>

  <div class="medication-table">
    <p class="titleTabs" style="color: #05445E;">Ordonnance</p>
    <table>
      <thead>
        <tr>
          <th>Nom de Médicament</th>
          <th>Dose</th>
          <th>Fréquence</th>
          <th>Durée</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medicament of ordonnanceData">
          <td>{{ medicament.nom }}</td>
          <td>{{ medicament.dose }}</td>
          <td>{{ medicament.frequence }}</td>
          <td>{{ medicament.duree }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
    

    
    


   
        <div class="container">
<p  class="txtSym" style="color: #05445E; font-weight: 500;" > Prochaine consultation : {{resumeData.date_prochaine_consultation}}</p>
</div>
</div>




<div mat-dialog-actions style="align-items: right; justify-content: right; display: flex; margin-right: 30px ;">
    
  <button class="btn" style="margin-bottom: 0px;" mat-button mat-dialog-close>Fermer</button>
</div>

