<div class="dialog-bg" (click)="closeDialog(itemId())">
    <div class="dialog-container"(click)="$event.stopPropagation()">
        <h3 class="dialog-title">Confirmation</h3>
        <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
        <p class="dialog-text">etes-vous sur de vouloir supprimer cet élément?</p>
        <div class="dialog-btns">
            <button class="btn close" (click)="closeDialog(itemId())">Annuler</button>
            <button class="btn supp"  (click)="deleteItem()" [disabled]="userIndicatorService.loadingData().isLoading" >Supprimer</button>
        </div>
    </div>
</div>