<div class="create-patient-container">
    <app-header></app-header>
    <div class="illustration">
        <img src="../../assets/Medicine-rafiki.png" alt="Patient Illustration" />
    </div>
    <div class="form-container">
        <h1>Créer un Dossier Patient</h1>
        <p>Remplissez les informations nécessaires pour créer un nouveau DPI.</p>
        <form (ngSubmit)="onSubmit()">

            <!-- Input Fields -->
            <div *ngFor="let field of fields" class="input-group">
                <img
                  src="../../assets/{{ field.key }}.png"
                  alt="Icon"
                  class="input-icon"
                />
                <input
                  type="text"
                  [placeholder]="field.placeholder"
                  [(ngModel)]="formData[field.key]"
                  [name]="field.key"
                  required
                />
              </div>

            <button type="submit">Créer</button>
        </form>
    </div>
</div>