.form-bg{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(33, 37, 41, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    background-color: white;
    border-radius: 10px;
    color:#263238;
    font-weight: 500;
    padding: .5rem;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 95%;
    overflow-y: auto;
}

.steps{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 1rem 0;
    color:#6C757D;
    font-size: 1rem;
}

.step-active{
    color: #28A7B8;
}
.step-active .step-number{
    background-color: #28A7B8;
}

.step-done{
    color: #22c55e;
}

.step-done .step-number{
    background-color: #22c55e;
}

.bar-done {
    background-color: #22c55e;
}

.bar-active{
    background-color: #6C757D;
}

.bar{
    width: 3rem;
    height: .25rem;
    border-radius: 3px;
}

.step{
    display: flex;
    align-items: center;
    gap:.5rem;
}

.step-number{
    font-size: 1.25rem;
    color: #fff;
    background-color: #6C757D;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 1rem;
    gap: 1rem;
    /* margin-bottom: 1rem; */
}

.btn{
    background-color: #28A7B8;
    color: #fff;
    padding: .8rem 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
}

.close{
    background-color: #fff;
    color: #263238;
    border: 1px solid #263238;
    transition: all 0.5s ease;
}

.close:hover{
    background-color: #2632381d;
    
}


.btn:disabled{
    background-color: #C1D1DC;
    color: #fff;
    cursor: not-allowed;
}

.form-title{
    text-align: center;
    margin: .25rem 0;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.5rem;
}



.plus-icon{
    font-size: 2rem;
    color: #28A7B8;
    cursor: pointer;
    transition: transform 1s ease;
    transform: rotate(0deg);
}
.plus-icon:hover{
    transform: rotate(-10deg);
}

.details-container form{
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    padding:.5rem 1rem;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
}

textarea,
input{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    border: 1.1px solid #6c757d72;
    border-radius: 3px;
    padding: .5rem;
    flex: 1;
    margin-left: 1rem;
}

textarea:focus,
input:focus{
    border: 1.5px solid #28A7B8;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 90%;
}

.med-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.error{
    color:#ef4444
}

@media (max-width:650px){
    .form-container{
        width:90%;
        height:90%;
        overflow-y: auto;
    }
    .step{
        flex-direction: column;
        text-align: center;
    }

}

@media (max-width:340px){
    .form-title{
        font-size: 1.1rem;
    }
    .details-container form{
        gap:1rem;
    }
}

.examen-plus-container{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(33, 37, 41, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.examen-plus-card{
    background-color: white;
    border-radius: 10px;
    color:#263238;
    font-weight: 500;
    padding: .5rem;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 80%;
    height: 95%;
    overflow: auto;
    padding-bottom: 1;
}

.examen-plus-content{
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
    
}

.examen-time {
    font-size: 1.25rem;
    text-align: center;
    display:flex;
    gap:.8rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}


.row{
    display: flex;
    flex-direction: column;
    gap:.5rem
}

.nom-container{
    display: flex;
    gap:.5rem;
}

.examen-plus-text{
    font-weight: 600;
    margin: 0;
}

.align{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus-icon{
    font-size: 2rem;
    color: #28A7B8;
    cursor: pointer;
    transition: transform 1s ease;
    transform: rotate(0deg);
}
.plus-icon:hover{
    transform: rotate(-10deg);
}

.gray{
    font-weight: 500;
    color: #6C757D;
    margin-left: 2rem;
    max-width: 50vw;
}

.menu{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6C757D;
    gap:2rem;
    font-size: 1.01rem;
    cursor: pointer;
}

.active{
    color: #28A7B8;
    box-shadow: 0 0.15rem 0 #28A7B8;
    transition: all 0.2s ease;
}

.details{
    margin-left: 3rem;
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
}

.med-admin{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.med-admin p{
    margin-left: 3rem;
}


.icons{
    display: flex;
    justify-content:end;
    align-items: center;
    gap: 2rem;
    margin-right: 1rem;
}

.btn{
    background-color: #28A7B8;
    color: #fff;
    padding: .8rem 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    margin: 0 1rem 1rem 0;
}


.close{
    background-color: #fff;
    color: #263238;
    border: 1px solid #263238;
    transition: all 0.5s ease;
}

.close:hover{
    background-color: #2632381d;
    
}

.btn-container{
    display: flex;
    justify-content: end;
    align-items: center;
}
.blue-bg{
    background-color: #05445E;
    color: #fff;
    padding: 0 2rem 0.8rem 2rem ;
    font-weight: 400;
    line-height: 1.75;
    border: none;
    border-radius: 8px;

}

.examen-plus-title{
    margin: 0;
    margin-left: 1rem;
    background-color: #fff;
    color: #05445E;
    width: fit-content;
    padding: 0rem 1rem .5rem 1rem;
    border-bottom-right-radius: 5rem ;
    border-bottom-left-radius: 5rem ;
}

.less-bold{
    font-weight: 400;
}

.compte-rendu-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.imgs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.img-container {
    width:100%;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.img-meta{
    display: flex;
    justify-content: space-between;
}

.img{
    width: 90%;
    height: auto;
}

.img-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.img-icon{
    display: block;
    cursor: pointer;
}

.no-result{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #263238;
}

.no-result-img{
    width: 25rem;
    height: 25rem;
}

.no-result-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.mgt{
    margin-top: 1rem;
}

@media (max-width: 768px){
    .examen-plus-card{
        width: 90%;
        height: 90%;
    }
}

@media (max-width: 425px){
    .gray{
        max-width: 70vw;
    }
    .details{
        margin-left: 1.5rem;
    }
    .med-admin p{
        margin-left: 1.5rem;
    }
    .menu-link{
        text-align: center;
        width: fit-content;
    }
}