
<div class="form-bg" >
    <div class="form-container" >
    
   
      <div class="details-container">
        <form [formGroup]="formGroup" (submit)="onSubmit($event)">
          

            <div class="form-inputs">
                <div class="form-group">
                    <label  for="date">Date de la consultation</label>
                    <input type="date" formControlName="date" />
                    @if(formGroup.controls['date'].errors && (formGroup.controls['date'].dirty || formGroup.controls['date'].touched)){
                      <small class="error"> *Ce champs est obligatoire </small>
                  } 
                  </div>
                <div class="form-group">
        <label for="description">la description</label>
        <textarea  formControlName="diagnostic" rows="4" ></textarea>
        @if(formGroup.controls['description'].errors && (formGroup.controls['description'].dirty || formGroup.controls['description'].touched)){
          <small class="error"> *Ce champs est obligatoire </small>
      }
        </div>

               
    </div> 
               

            

  

            
       
         
         
 
    <div class="next">
              
    
    
      <button type="submit" class="btn" [disabled]="userIndicatorService.loadingData().isLoading" >Enregistrer</button>
     
  </div>
        </form>

     
      
</div>





