.analyses-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 1rem;
    gap:1rem;
    transition: all 1s ease;
}

.plus-icon{
    position:fixed;
    bottom: 1rem;
    right: 2rem;
    font-size: 3rem;
    color: #28A7B8;
    cursor: pointer;
    transition: transform 1s ease;
    transform: rotate(0deg);
}
.plus-icon:hover{
    transform: rotate(-90deg);
}

.no-result{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #263238;
}

.no-result-img{
    width: 15rem;
    height: 15rem;
}

.no-result-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .analyses-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 480px) {
    .analyses-container{
        grid-template-columns: 1fr;
    }
}
