@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Urbanist, sans-serif;
    font-size: 1rem;
    color: #263238;
}

/*Scrollbar styling*/

/* For WebKit Browsers (Chrome, Edge, Safari) */
  ::-webkit-scrollbar {
    width: .5rem; /* Adjust the scrollbar width */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #C1D1DC; /* Thumb color */
    transition: all 0.5s ease; /* Transition effect to reveal the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #95a1a9; /* Thumb color on hover */
  }
  
  /* For Firefox */
  body {
    scrollbar-width: thin; /* Thin scrollbar for better appearance */
    scrollbar-color: #C1D1DC #f1f1f1; /* Thumb color, Track color */
  }
  