.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    padding-left: 20px;
    height: 60px;
    width: 170px;
    object-fit: cover;
    max-width: 100%;
    width: auto;
    display: block;
}

.header-user-info {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.user-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: Urbanist, sans-serif;
    position: relative;
    padding: 9px;
}

.user-fullname {
    font-size: 1.1rem;
    margin-left: 11px;
    color: #263238;
    font-weight: bold;
    cursor: pointer;
}

.user-fullname:hover {
    text-decoration: underline;
    text-decoration-color: #28A7B8;
}

.user-id {
    font-weight: bold;
    font-size: 1.1rem;
    color: #263238;
}

.user-popup {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 200px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.popup-item {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 0.8rem;
    color: #263238;
    cursor: pointer;
    transition: background 0.2s;
}

.popup-item fa-icon {
    margin-right: 10px;
    font-size: 1.2rem;
    color: #263238;
}

.popup-item:hover {
    background: #f0f0f0;
}



@media (max-width: 800px) {
    .logo {
        height: 50px;
        width: 150px;
        object-fit: cover;
        max-width: 90%;
        width: auto;
    }

    .user-details {
        font-size: 0.8rem;
        margin-left: 0px;
        align-items: flex-end;
    }

    .user-fullname {
        font-size: 1rem;
        margin-right: 6px;
    }

    .user-id {
        font-size: 1rem;
    }
}