<app-menu-dpi></app-menu-dpi>
<div class="container">
<div class="box">
<p class="title"> 06 décembre 2024</p>
<p class="txt">Médecin: Dr.Jacobi </p>

<div class="diagnostic">
<p class="txt">Diagnostic:  </p>
<span class="circle"></span>
<p class="txt"> Effectué</p>
</div>
<div class="btncontainer">
<button class="btn">voir plus</button>
</div>
</div>

<div class="box">
    <p class="title"> 06 décembre 2024</p>
    <p class="txt">Médecin: Dr.Jacobi </p>
    
    <div class="diagnostic">
    <p class="txt">Diagnostic:  </p>
    <span class="circle"></span>
    <p class="txt"> Effectué</p>
    </div>
    <div class="btncontainer">
    <button class="btn">voir plus</button>
    </div>
    </div>

    <div class="box">
        <p class="title"> 06 décembre 2024</p>
        <p class="txt">Médecin: Dr.Jacobi </p>
        
        <div class="diagnostic">
        <p class="txt">Diagnostic:  </p>
        <span class="circle"></span>
        <p class="txt"> Effectué</p>
        </div>
        <div class="btncontainer">
        <button class="btn">voir plus</button>
        </div>
        </div>

        <div class="box">
            <p class="title"> 06 décembre 2024</p>
            <p class="txt">Médecin: Dr.Jacobi </p>
            
            <div class="diagnostic">
            <p class="txt">Diagnostic:  </p>
            <span class="circle"></span>
            <p class="txt"> Effectué</p>
            </div>
            <div class="btncontainer">
            <button class="btn">voir plus</button>
            </div>
            </div>


            <div class="box">
                <p class="title"> 06 décembre 2024</p>
                <p class="txt">Médecin: Dr.Jacobi </p>
                
                <div class="diagnostic">
                <p class="txt">Diagnostic:  </p>
                <span class="circle"></span>
                <p class="txt"> Effectué</p>
                </div>
                <div class="btncontainer">
                <button class="btn">voir plus</button>
                </div>
                </div>


                <div class="box">
                    <p class="title"> 06 décembre 2024</p>
                    <p class="txt">Médecin: Dr.Jacobi </p>
                    
                    <div class="diagnostic">
                    <p class="txt">Diagnostic:  </p>
                    <span class="circle"></span>
                    <p class="txt"> Effectué</p>
                    </div>
                    <div class="btncontainer">
                    <button class="btn">voir plus</button>
                    </div>
                    </div>
                    <div class="box">
                        <p class="title"> 06 décembre 2024</p>
                        <p class="txt">Médecin: Dr.Jacobi </p>
                        
                        <div class="diagnostic">
                        <p class="txt">Diagnostic:  </p>
                        <span class="circle"></span>
                        <p class="txt"> Effectué</p>
                        </div>
                        <div class="btncontainer">
                        <button class="btn">voir plus</button>
                        </div>
                        </div>
                </div>