<div class="card-container">
    <div class="examen-time">
        <p> {{examen().date}} </p>
    </div>
    <div class="examen-content">
        <p class="examen-text">médecin: {{examen().technicien+'  Dr.' + examen().nom_medecin + ' ' + examen().prenom_medecin}}</p>
        <p class="examen-text">description: {{examen().description}} </p>
    </div>
    <div class="examen-action">
        <button class="examen-btn" (click)="openPlus()">voir plus</button>
    </div>
    @if(plusOpened()){
        <app-examen-plus [examen]="examen()" (closeEvent)="closePlus()"></app-examen-plus>
    }
</div>
