.card-container{
    border: .0001rem solid #C1D1DC;
    border-radius: 10px;
    color:#263238;
    font-weight: 500;
    padding: .5rem;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: calc(100% - 1rem) ;

}

.card-container:hover{
    box-shadow: .2rem .2rem .4rem #c1d1dc67;
}

.examen-time {
    font-size: 1.25rem;
    text-align: center;
    display:flex;
    gap:.8rem;
    justify-content: center;
    align-items: center;
}

.examen-content{
    margin-left: 3rem;
    display:flex;
    flex-direction: column;
    gap: 1.25rem;
}
.examen-text{
    margin: 0;
}

.examen-action{
    display: flex;
    justify-content:end;
    align-items: center;
    margin: .5rem .8rem 1rem;
}

.examen-btn{
    background-color: #05445E;
    color: white;
    border: none;
    border-radius: 10px;
    padding: .4rem 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: inherit;
}

.examen-btn:hover{
    background-color: #002B36;
}

.align{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .75rem;
}

@media(max-width:940px){
    .examen-content{
        margin-left: 2rem;
    }

}

@media(max-width:850px){
    .examen-content{
        margin-left: 1rem;
    }

}

@media (max-width: 768px) {
    .examen-content{
        margin-left: 0;
        text-align: center;
    }
}