<div class="patient-file" >

    <div class="header">
      <img src="../../assets/Dossierfr.svg" alt="dossier" />
      <h1 class="title" >Dossier de Belaid Meriem</h1>
    </div>

    <nav class="tabs" >
      <a class="tab" routerLink="/dpi/infos-dpi" routerLinkActive="active" >
        <fa-icon [icon]="faUser" class="icon"></fa-icon>
        <p>Informations personnelles</p>
      </a>
      <a class="tab"  routerLink="/dpi/consultations-dpi" routerLinkActive="active" >
        <fa-icon [icon]="faNotesMedical" class="icon"></fa-icon>
        <p>Consultations</p>
      </a>
      <a class="tab"  routerLink="/dpi/soins-dpi" routerLinkActive="active" >
        <fa-icon [icon]="faUserNurse" class="icon"></fa-icon>
        <p>Soins Infermiers</p>
      </a>
      <a class="tab"  routerLink="/dpi/examens-dpi" routerLinkActive="active">
        <fa-icon [icon]="faChartBar" class="icon"></fa-icon>
        <p>Examens</p>
      </a>
    </nav>
    
  </div>
  
