.container{
    background-color:#e5e7eb;
    color: #545b61;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border: 1px solid #545b61;
    border-left: 5px solid #545b61 ;
    border-radius: 3px;
    padding: .2rem 1rem;

    position:fixed;
    top: 10rem;
    right: 1rem;
    z-index: 50;
}

.msg{
    font-weight: 500;
}

.icon{
    font-size: 2rem;
    color:#545b61
}

.spin{
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg); 
    }
    100% {
      transform: rotate(360deg); 
    }
  }