.container{
    background-color:#fee2e2;
    color: #ef4444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border: 1px solid #ef4444;
    border-left: 5px solid #ef4444 ;
    border-radius: 3px;
    padding: .2rem 1rem;

    position:fixed;
    top: 10rem;
    right: 1rem;
    z-index: 50;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.msg{
    font-weight: 500;
}

.icon{
    font-size: 1rem;
    color:#ef4444
}

.close{
    cursor: pointer;
}
